.footer {
    background-color: var(--neutral-7);
    padding: 3rem 0;
    color: #fff !important;

    .row h6 {
        font-size: 24px;
        padding-right: 2rem;
        border-right: 1px solid var(--neutral-5);
    }

    .animated {
        border-bottom: 1px solid var(--neutral-3);
    }

    .row p,
    .row a {
        color: var(--neutral-3);
    }

    .row span {
        font-weight: 500;
        font-size: 12px;
    }
    .row {
        padding: 2rem 0;
    }
    .row:nth-child(1) {
        border-bottom: 1px solid var(--neutral-5);
    }

    .row,
    .row > div,
    .socials,
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .socials {
        gap: 1rem;
    }

    .socials > img:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }
}

@media (max-width: 769px) {
    .footer {
        .row h6 {
            padding: 0;
            border-right: none;
        }
        .row,
        .row div:not(.socials, .flex) {
            flex-direction: column;
        }

        .socials {
            order: 1;
        }
        .copy {
            text-align: center;
            order: 2;

            .flex {
                order: 1;
            }
        }
        .copy p {
            order: 2;
        }
    }
}
