.orderMobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--neutral-3);

    /* span {
        color: var(--neutral-4);
    } */
}
