.blogCover {
    background-image: url(/imgs/blog-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blogGrid {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    justify-items: center;
    gap: 2rem;
}
